---
---
<footer class="main-footer matizes-footer" style="background-image: url(/assets/images/background/matizes_footer.png);">
    <div class="auto-container">
        <div class="footer-top">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo">
                                <a href="/">
                                    <img src="/src/assets/matizes.svg" alt="Matizes Logo" style="max-height: 350px; width: auto;">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title">
                                <h3>Contacto</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="info-list clearfix">
                                    <li>C/ Matizes 12, 28000 Madrid</li>
                                    <li><a href="mailto:hola@matizes.com">hola@matizes.com</a></li>
                                    <li><a href="tel:34600123456">+34 600 123 456</a></li>
                                </ul>
                                <ul class="social-links clearfix">
                                    <li><a href="https://facebook.com/matizes"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://instagram.com/matizes"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://wa.me/matizes"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>Menú Rápido</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li><a href="/about"><i class="fas fa-angle-right"></i>Nuestra Historia</a></li>
                                    <li><a href="/our-menu"><i class="fas fa-angle-right"></i>Nuestra Carta</a></li>
                                    <li><a href="/contact"><i class="fas fa-angle-right"></i>Contacto</a></li>
                                    <li><a href="/service"><i class="fas fa-angle-right"></i>Servicios</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget shediul-widget">
                            <div class="border-shape" style="background-image: url(/assets/images/shape/shape-4.png);"></div>
                            <div class="widget-title">
                                <h3>Horario</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="shediul-list clearfix">
                                    <li>Lunes - Viernes: <span>09 AM - 20 PM</span></li>
                                    <li>Sábado: <span>10 AM - 18 PM</span></li>
                                    <li>Domingo: <span>Cerrado</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <div class="copyright pull-left">
                <p><a href="/">Matizes</a> &copy; 2026 Todos los derechos reservados</p>
            </div>
            <ul class="footer-nav pull-right">
                <li><a href="/terms">Términos</a></li>
                <li><a href="/privacy">Privacidad</a></li>
            </ul>
        </div>
    </div>
</footer>

<style>
    .main-footer {
        background-color: #012924;
        color: #fff;
    }
    .footer-widget h3 {
        color: #ff9da0;
    }
    .footer-top .contact-widget .widget-content .info-list li a:hover,
    .footer-top .links-widget .links-list li a:hover {
        color: #ff9da0 !important;
    }
    .footer-logo img {
        filter: brightness(0) invert(1);
        width: 350px;
        max-width: 100%;
    }
</style>
